<h1>Tweets#index</h1>
<p>Find me in app/views/tweets/index.html.erb</p>

<h1>GeekTwitter</h1>
<h3>Tweet一覧</h3>
<%= link_to "新規投稿へ", new_tweet_path %>

<div class="tweets-container">
    <% @tweets.each do |t| %>
        <div class="burger">
            <%= t.user.email %>
            <%= t.title %>
            <%= t.body %>
            <%= t.created_at %>
        </div>
        <hr>
    <% end %>
</div>